@media only screen and (max-width: 576px) {
  /* Home Section */
  .logo {
    font-size: 2rem;
  }
  .dot {
    position: relative;
    bottom: 6px;
  }

  .user-img {
    left: 5%;
    bottom: 30rem;
    width: 18rem;
  }

  .text-box h1 {
    font-size: 1rem;
    position: relative;
    top: 2.5rem;
  }
  .text-box a {
    font-size: 0.8rem;
    width: 9rem;
    padding: 0.625rem 0.8rem;
  }
  .text-box {
    margin-top: 14rem;
  }
  .text-box p {
    font-size: 0.7rem;
  }

  .checkbtn {
    display: block;
    margin-left: auto;
    margin-right: -1rem;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  nav ul li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ .user-img {
    display: none;
  }

  /* About section */

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-me img {
    width: 18rem;
    height: 18rem;
    border: 2px solid grey;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .about-p2 {
    margin-bottom: 50px;
    /* background: red; */
  }
}
