@media only screen and (max-width: 576px) {
  .logo {
    font-size: 2rem;
  }
  .dot {
    position: relative;
    bottom: 6px;
  }
  nav ul {
    display: none;
  }

  .user-img {
    left: 5%;
    bottom: 30rem;
    width: 18rem;
  }

  .text-box h1 {
    font-size: 1rem;
    position: relative;
    top: 2.5rem;
  }
  .text-box a {
    font-size: 0.8rem;
    width: 9rem;
    padding: 0.625rem 0.8rem;
  }
  .text-box {
    margin-top: 14rem;
  }
  .text-box p {
    font-size: 0.7rem;
  }
}
